# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtual Environment
.env
venv/
env/

# IDE-specific files
.idea/
.vscode/

# Operating System/Other
.DS_Store
Thumbs.db
.coverage
.tox/
.eggs/